*{
    margin: 0;
    padding: 0;
}

:root {
    --letra: 'Monserrat';
} /*NO LO HICE BIEN*/


body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.general {
    border: 2px solid pink;
    width: 100%;
    height: 99%;
    background-color: black;
    display: flex;
}

.contenedor-izquierdo {
    display: flex;
    background-color: white;
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.CajaContenedora {
    border: 1px solid black; /*BORRAR LUEGO*/
    display: flex;
    width: 60%;
    height: 80%;
}

.titulo, .CajaContenedora {
    display: flex;
    justify-content: center;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60%;
    margin-top: 10%;
    height: fit-content;
}

.cuentas {
    /*empezar aquí*/
}

.gugul, .apple {
    display: inline-flex;
    justify-content: center;
    font-size: 17px;
    border-radius: 10px;
    height: 50px;
}

.contenedor-derecho {
    background-color: rgb(189, 138, 255);
    width: 45%;
    height: 100%;
}

#muchachogugul {
    display: flex;
    justify-content: center;
}