*{
    margin: 0;
    padding: 0;
}

:root {
    --letra: 'Monserrat', Verdana;
} /*NO LO HICE BIEN*/


body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: var(--letra);
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.general {
    border: 2px solid pink;
    width: 100%;
    height: 99%;
    background-color: black;
    display: flex;
}

.contenedor-izquierdo {
    display: flex;
    background-color: white;
    width: 55%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.CajaContenedora {
    border: 1px solid rgb(255, 255, 255); /*BORRAR LUEGO*/
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    width: 60%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.cajaMargen {
    /* border: 1px solid black;  */
    height: 85%;
    width: 83%;
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: var(--letra);
    font-size: 60%;
    height: 10%;
}

.cuentas {
    align-items: center;
    justify-content: space-around;
    display: flex;
    display: inline-flex;
    height: fit-content;
    width: 100%;
    }

.gugul, .apple {
    font-family: var(--letra);
    font-size: 17px;
    height: 50px;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 7%;
    padding: 3%;
    align-items: center;
    display: flex;
    margin-top: 10px;
}

#googleIcon {
    height: 35px;
    width: 30px;
}

#appleIcon {
    height: 35px;
    width: 30px;
}

.or {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 21px;
    font-family: var(--letra);
}

.rallita {
    background-color: black;
    width: 40%;
    height: 1px;
}

/* .placeholders {
    display: flex;
    flex-direction: column;
    
} */

.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

#email {
    width: 80%;
    height: 25px;
    border-radius: 5%;
    color: rgb(87, 86, 86);
}

.contra {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#contra {
    width: 80%;
    height: 25px;
    border-radius: 5%;
    color: rgb(87, 86, 86);
}

.login {
    background-color: rgb(196, 134, 255);
    color: whitesmoke;
    height: 25px;
    width: 80%;
    margin-top: 40px;
    text-align: center;
}

.last{
    display: flex;
    color: rgb(146, 27, 182);
    align-self: flex-end;
    margin-top: 25px;
}


.contenedor-derecho {
    background-color: rgb(189, 138, 255);
    width: 45%;
    height: 100%;
}

#muchachogugul {
    display: flex;
    justify-content: center;
}